.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    font-size: 20px;
    padding: 40px;
    border: 2px solid green;
}

.projects-grid grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 2px solid green;
}

/* For larger screens */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        /* Adjust column count for wider screens */
    }
}