body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* .header {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: black;
    border: 2px lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
} */

.navbar {
    overflow: hidden;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}

.navbar-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-items .nv-title {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    margin-right: 800px;
}

.navbar-items .nv-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: black;
    transition: 0.3s;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

.navbar a:hover {
    background-color: white;
    font: bold;
    color: lightcoral;
    box-shadow: 0px 0px 14px 0px lightcoral;
}


/* .footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: black;
    border: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
} */

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}