body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
}

a:hover {
    color: orangered;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header"
        "main"
        "footer";
    height: 100vh;
}


/* .sticky-header {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 3pc;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} */

.header {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: black;
    border: 2px lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
}

.navbar-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-items .nv-title {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    margin-right: 800px;
}

.navbar-items .nv-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: black;
    transition: 0.3s;
}


/* .navbar-items .nv-item:hover {
    color: red;
} */

/* .sidebar {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    border: 2px lightcoral;
    grid-area: sd;
} */

/* .content-area {
    font-family: 'Times New Roman', Times, serif;
    grid-area: main;
} */