header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
}

section h2 {
    color: #333;
}

.blog {
    margin-top: 100px;
}

.blog article {
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.travel {
    text-align: center;
}

.travel img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hobbies ul {
    list-style: none;
    padding: 0;
}

.hobbies li {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}